
.box-1{
    height: 500px;
    width: 400px;
    background-color: white;
    margin: auto;
}
h2{
    text-align: center;
    color: red;
    
}
.box-2{
    margin-top: 50px;
}
h4{
    text-align: center;
}

p{
    text-align: center;
}
.box-3 i{
    justify-content: space-around;
}