/*.col{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
.col-8{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;

}
.col-4{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}*/


/*Stacked to horizontal */

/*.col-sm-8{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;

}
.col-sm-4{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;

}
.col-sm{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;

}*/


/*Equal-width*/

/*.col{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}*/


/*Setting one column width */
/*.col{
    
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
.col-6{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
.col-5{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}*/

/*Variable width content*/

/*.col{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
.col-md-auto{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}*/

/*All breakpoints*/

/*.col{
     background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
.col-8{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
.col-4{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}*/
/*Stacked to horizontal*/
/*.col-sm-8{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
col-sm-4{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
.col-sm{
     background-color: aqua;
    border: 2px solid black;
    height: 70px;
   
}*/
/*Mix and match */
/*.col-md-8{

    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
.col-8{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}
.col-md-4{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;

}
.col-6{
    background-color: aqua;
    border: 2px solid black;
    height: 70px;
}*/







