/* poppins-300 - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     src: url('../fonts/poppins-v20-latin-300.eot'); /* IE9 Compat Modes */
     src: url('../fonts/poppins-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/poppins-v20-latin-300.woff') format('woff'), /* Modern Browsers */
          url('../fonts/poppins-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/poppins-v20-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   /* poppins-regular - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
     src: url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   /* poppins-500 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
     src: url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
          url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   /* poppins-600 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
     src: url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
          url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
   }

:root
{
     --bgblue:#007bff;
     --bggray:#A0A4AD;
     --bgblack:#000000;
     --bgwhite:#fff;
     --txtpoppins:'poppins' sans-serif;
}
body{
     font-family: 'Poppins', sans-serif;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a{
     text-decoration: none;
     display: inline-block;
}

ul{
     list-style: none;
}

.container{
     width: 1140px;
     margin: auto;  
}

.bgblue{
     background-color: white;
     color: var(--bgblack);
}

.flex{
     display: flex;
     flex-wrap: wrap;
}

.justify-between{
     justify-content: space-between;
}

.justify-center{
     justify-content: center;
}

.align-center{
     align-items: center;
}

.spacer{
     padding: 70px 0;

}

/* ===========================================================================================================================
                                                  Top-Header
==============================================================================================================================*/
/* Start Top Header */
.top_header{
     padding: 15px 0;
}

.call_info i{
     color: var(--bgblue);
     font-size: 20px;
}
.call_info span:last-child i{
     padding-left: 15px;
}
.call_info span a{
     color: var(--bgblack);
    padding: 10px 20px;
}
.call_info span:hover a{
     color: var(--bgblue);
}

.call_info span{
     /* padding: 0px 20px; */
}
.call_info span:first-child{
     border-right: 1px solid gray;
     padding-left: 0;
}


.profile_info a{
     padding: 10px 20px;
     justify-content: space-between;
     color: var(--bgblack);
     letter-spacing: 1px ;     
}



.profile_info a:hover{
     color: var(--bgblue);
}

.profile_info a:first-child{
     border-right: 1px solid var(--bggray);
}

/* End Top Header */

/* ===========================================================================================================================================
                                                  Logo Header
==============================================================================================================================================*/

/* start logo header */

.main_menu li.active>a{
     color: var(--bgblue);
}

.main_menu li:hover .sub-menu{
     display: block;
     transition: .5s;
     /* background-color: #007bff; */
     /* color: white; */
}
.main_menu li:hover>a{
     color: var(--bgblue);
}
.main_menu li a{
     padding: 25px;
}
.main_menu{
     padding-left: 70px;
     padding-right: 70px;
}
.sub-menu{
     display: none;
     position: absolute;
     background-color: white;
     border-top: 2px solid var(--bgblue);
     z-index: 10;
}
.sub-menu li a{
     padding: 10px 20px;
     display: block;
}
.sub-menu li:hover a{
     /* background-color: ; */
     color: var(--bgblue);
     transition: .3s;
}
.get_btn{
     /* height: 20px; */
     /* width: 180px; */
     padding: 12px 40px;
     background-color: var(--bgblue);
     color: white;
     border-radius: 30px;
     text-align: center;
}
.get_btn a{
     color: white;
}
.get_btn:hover{
     background-color: white;
     color: var(--bgblue);
     border: 2px solid var(--bgblue);
     transition: .5s;
}
.get_btn:hover a{
     color: #007bff;
}

/* End logo header */

img{
     height: 100%;
     width: 100%;
     position: relative;
}

#banner .owl-nav{
     margin-top: 0 !important;
     position: absolute;
     top: 50%;
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 0 50px;
 }
 #banner .owl-nav .owl-prev,
 #banner .owl-nav .owl-next{
     height: 50px;
     width: 50px;
     background-color: rgba(221, 217, 217, 0.889) !important;
     border-radius: 50% !important;
     border:2px solid white !important;
     color:white !important;
     transform: translateY(-50%);
     background: transparent !important;
 }
 
 .main_section{
     width: 100%;
     /* position: absolute; */
     /* z-index: -1; */
 }

 .bgblack{
     background-color: rgba(0, 0, 0, .5);
     width: 100%;
     /* position: absolute; */
 }
 .owl-carousel .owl-item img{
     position: relative;
     z-index: -1;
 }
 #banner .slider-content{
     position: absolute;
     z-index: 4;
     top: 50%;
     left: 50%;

     height: 800px;
     width: 800px;
     flex-direction: column;
     transform: translateX(-50%) translateY(-10%);
     

 }
 .slider-title{
     font-size: 16px;
     letter-spacing: 5px;
     color: var(--bgwhite);
 }
 .slider-info{
     font-size: 50px;
     font-family: 'poppins' sans-serif;
     font-weight: 900;
     text-align: center;
     color: var(--bgwhite);
     margin: 15px 0;
 }
.slider-btn a{
     padding: 12px 40px;
     color: white;
     border: 2px solid var(--bgwhite);
     border-radius: 30px;
     text-align: center;
 }
 .slider-btn:hover a{
     background-color: var(--bgblue);
     border: none;
     transition: .5s;
 }
 /* ===========================    Services    =================================== */

.services{
     width: 65%;
}
.single-service{
     width: 50%;
     margin: 25px 0px;
}
 .ser-img{
     height: 55px;
     width: 55px;
     position: relative;
     z-index: 5;
 }
 .ser-title{
     margin-top: 25px;
     margin-bottom: 13px;
     font-size: 25px;
 }
 .ser-info{
     margin-bottom: 15px;
     font-size: 18px;
     width: 80%;
 }

 .form{
     width: 35%;
     padding: 0 70px;
     border: 2px solid whitesmoke;
     box-shadow: 2px 2px 10px black;
     border-radius: 10px;
     padding: 20px;
     text-align: center;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
 }


 .input_sec > input{
     display: block;
     height: 50px;
     width: 100%;
     padding: 10px 35px;
     font-size: 20px;
     border-radius: 25px;
     margin: 15px 5px;
     border: 1px solid var(--bggray);
 }

 .select_sec > select{
          display: block;
          height: 50px;
          width: 100%;
          padding: 10px 35px;
          font-size: 20px;
          color: var(--bgblack);
          border-radius: 25px;
          margin: 15px 5px;
          border: 1px solid var(--bggray);

     }
 .form-btn{
     padding: 17px 142px;
     background-color: var(--bgblue);
     color: white;
     border-radius: 30px;
     text-align: center;
     border: none;
}
.form-btn a{
     color: var(--bgwhite);
}
.form-btn:hover{
     background-color: white;
     border: 2px solid var(--bgblue);
     transition: .3s;
}
.form-btn:hover a{
     color: var(--bgblue);
     
}
.about-sticker{
     position: relative;
}
.about-us{
     width: 150px;
     height: 150px;
     background-color: var(--bgblue);
     border-radius: 50%;
     position: absolute;
     z-index: 3;
     top: 0;
     transform: translateX(-40%) translateY(-40%);


}
.about-iner p{
     color: var(--bgwhite);
}
.about-iner span{
     font-size: 40px;
     font-family: 'poppins' sans-serif;
     color: var(--bgwhite);
     
}
.about-img{
     width: 41%;
}


.about-info{
     width: 59%;
     padding: 100px;     
}
.info-title{
     font-size: 50px;
     font-family: 'poppins' sans-serif;
     font-weight: 700;
     margin-bottom: 20px;
     
}

span{
     display: block;
}

.info-exp{
     font-size: 24px;
     font-family: 'Poppins' sans-serif;
     color: var(--bgblue);
     margin: 25px 0;
}
.info-content{
     font-size: 16px;
     color: var(--bggray);
     margin: 20px 0;
}

.view-btn{
     padding: 15px 44px;
     background-color: var(--bgblue);
     border-radius: 30px;
     text-align: center;
     border: none;
     font-size: 16px;
     font-weight: bold;
     margin-top: 21px 0;
}
.view-btn a{
     color: var(--bgwhite);

}
.view-btn:hover{
     background-color: var(--bgwhite);
     border: 1px solid var(--bgblue);
     transition: .5s;

}
.view-btn:hover a{
     color: var(--bgblue);
}
.course-info{
     margin: 70px;
  
}

.course-info span{
     font-size: 38px;
     font-weight: 1000;
     font-style: 'poppins';
     margin: 0 0 12px;
     width: 34%;
     text-align: center;
     width: 100%;
     margin-bottom: 20px;
} 
.course-info p{
     font-size: 18px;
     font-weight: 200;
     width: 100%;
     line-height: 30px;
     text-align: center;
}

.course-slider{
     padding: 40px 40px;
     box-sizing: border-box;
    text-align: center;
    width: 25%;  
}

/* .item{
     padding: 0 50px;
     box-sizing: border-box;
     border-radius: 6px;
     border: 1px solid whitesmoke;
} */

.slider-img{
     height: 75px;
     width: 75px;
     margin: auto;
   
}
.slider-content-1,.slider-content-2,.slider-content-3,.slider-content-4,.slider-content-5,.slider-content-6{
     text-align: center;
     padding: 40px 0;
  
}
.txt-padding{
     padding-bottom: 15px;
}
.slider-content-1{
    
     color:#f75b92;
}
.slider-content-2,.slider-content-5{
     color: rgb(49, 175, 54);
}
.slider-content-3 ,.slider-content-6{
     color: #2974FF;
}
.slider-content-4{ 
     color: #FAAD19;
}

